.navbar{
    background-color: rgb(92, 83, 83);
    color: #fff;
    letter-spacing: 1.5px;
    height: 12vh;
    display: flex;
    align-items:center;
    justify-content: space-around;
}

.navItens{
    display: flex;
    gap: 4rem;
}

.navItens a{
    color: #fff;
}
